---

rest_api: {}
  # port: 8088
  # address: "0.0.0.0"

docker_hosts:
  - host: "tcp://molecule.matrix.lan:2376"
    #username: ""
    #password: ""
    #tls: {}
    services:
      - "cae-live"
    metrics_ports:
      8080: "/metrics"
